<form [formGroup]="resItem">
    <div class="md-form form-group">
        <div class="file-field">
            <mat-card>
                <span *ngIf='file==null'>
                    <picture>
                        <img src='{{thumb}}' class="m-3 mr-5 ml-0" style="width:8rem" />
                        <div class="p-1"><input type="file" class="m-0 p-0" ng2FileSelect [uploader]="uploader" /></div>
                    </picture>
                </span>
                <span><img src="{{file}}" class="m-1 imgsize"></span>
                <span class="m-1" *ngIf='file!=null' >
                    <input type="file" class="m-0 p-0" ng2FileSelect [uploader]="uploaderUpdate" />
                </span>
                <span><img [src]="previewPath" class="ml-1" style="width:10rem"></span>

                <hr>
                <button type="button" class="ml-5 btn btn-success btn-s" (click)="uploader.uploadAll()"
                    [disabled]="!uploader.getNotUploadedItems().length">
                    Upload an Image
                </button>
                <hr><button class="m-1 btn btn-info btn-s" (click)="uploaderUpdate.uploadAll()"
                    [disabled]="!uploaderUpdate.getNotUploadedItems().length">Update</button>
                <button class="m-1 btn btn-danger btn-s" (click)="deleteFile()">Delete</button>

            </mat-card>
            <label>Item</label>
            <input type="text" class="form-control" formControlName="name">
        </div>
        <div class="form-group">
            <label>Type</label>
            <input type="text" class="form-control" formControlName="type">
        </div>
        <div class="form-group">
            <label>Quantity</label>
            <input type="text" class="form-control" formControlName="quantity">
        </div>

        <button (click)="updateRes()" class="m-1 btn btn-primary">Update</button>
    </div>
</form>